body {
    background-color: khaki;
}

#wrapper {
    background-color: darkseagreen;
    position: absolute; /* Måste vara absolute om man ABSOLUT vill att den ska vara i mitten */
    height: 60%; /* Man måste använda %, annars anpassar sig figuren inte efter fönstrets storlek */
    min-width: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* Top + left + transform gör så att den räknar ut automatiskt så diven placeras preciiis i mitten av sidan oavsett vilken höjd och bredd man har, så man slipper räkna ut själv */
    display: inline-block;
    text-align: center;
}

.facebox {
    background-color: darkseagreen;
    display: inline-block;
    position: absolute;
    height: 60%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.eyes {
    display: inline-block;
    border: 1vh solid black;
    height: 15vh;
    width: 15vh;
    border-radius: 15vh;
    vertical-align: top;
}

.nose {
    display: inline-block;
    border: 1vh solid black;
    height: 25vh;
    width: 15vh;
    border-radius: 2vh;
}

.mouth {
    border: 1vh solid black;
    height: 3vh;
    width: 20%;
    border-radius: 1vh;
    display: inline-flex; /* För att tänderna ska komma i rad efter varandra */
    margin-bottom: 2vh;
}

.teeth {
    height: 3vh;
    width: 1.5vw;
    background-color: darkseagreen;
    display: inline-block;
    border: none;
}

.mouth > div:nth-child(even) {
    background-color: black;
    height: 3vh;
    width: 1.5vw;
}