body{
    background: khaki;
}

.mamma{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 22vh;
    border: 1px solid black;
    margin: 0px auto;
    height: 90vh;
    width: 90vh;
    background-color: aquamarine;
}

.mamma > div {
    border: 1px solid black;
}

.j{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2rem;
}

div > div:nth-child(4) {
    background-image: url(Bilder/album13.jpg);
    background-size: contain;
}

div > div:nth-child(8){
    background-image: url(Bilder/album11.jpg);
    background-size: contain;
}

div > div:nth-child(12){
    background-image: url(Bilder/painting6.jpg);
    background-size: contain;
}

div > div:nth-child(16){
     background-image: url(Bilder/album16.jpg);
     background-size: contain;
}

div > div:nth-child(3){
     background-image:url(calculator.png);
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}

div > div:nth-child(7){
    background-image:url(diamond.png);
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}

div > div:nth-child(11){
      background-image:url(piggy-bank.png);
       background-size: 50%;
       background-repeat: no-repeat;
       background-position: center;
}

div > div:nth-child(15){
     background-image:url(money-bag.png);
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
}